<h2>My ToDo List</h2>
<a href="{% url 'create' %}">+ Add New Task</a>

<style>
    table {
        width: 100%;
        border-collapse:collapse;
        margin-top: 20px;
    }
    th, td {
        border: 1px solid #5b5050;
        padding: 10px;
        text-align: center;
    }
    th {
        background-color: #f2e9e9;
    }
    tr.completed {
        background-color: #d4edda;
    }
</style>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
            <tr class="{% if task.completed %}completed{% endif %}">
                <td>{{ task.title }}</td>
                <td>{{ task.created_at|date:"M d, Y H:i" }}</td>
                <td>     
                     <a href="{% url 'complete' task.id %}">
                    {% if not task.completed %}
                        <button>✅ Mark as Done</button>
                    {% else %}
                       <button>↩️ Undo</button>
                    {% endif %}
                    </a>

                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">No Tasks Yet!</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
